# Node modules
node_modules/

# Vite build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env
.env.local

# Editors & IDEs
.DS_Store
.idea/
.vscode/

# Others
*.log
