fastapi
uvicorn
passlib
sqlalchemy
injector 
elasticsearch
transformers
elasticsearch-dsl
langchain
langchain-huggingface
langchain-groq
python-jose[cryptography]
psycopg2-binary
pytz
python-multipart
sympy